<p>Hola <%= @resource.email %>!</p>

<p>Se ha solicitado un enlace para cambiar la contraseña de acceso a Boxfree.</p>

<p><%= link_to 'Cambiar mi contraseña', "http://api.box-free.com/users/amnesia/" + @resource.reset_password_token %></p>

<p>Si no solicitaste el cambio de contraseña, ignora este email.</p>
<p>Su contraseña no cambiará hasta que no ingrese al enlace indicado en este email.</p>

<br /><br />
<p><strong>Gracias por usar Box-Free <%=@resource.name.to_s + " " + @resource.lastname.to_s %></strong></p>
<hr />
<p>
<%=image_tag("http://go.box-free.com/images/logos/boxfree_logo_transparente_no_slogan_small.png", alt: "", width: 40) %> <br />
Powered by Boxfree
</p>  